.error-message {
  /* Box Model */
  border: 2px solid red;
  color: red;
  width: 20em;

  /* Flex Properties */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

form {
  /* Box Model */
  width: 100%;
  margin-top: 1em;
  
  /* Flex Properties */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tweet-text {
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  border: 0;
  width: 100%;
  height: 40px;
  border-bottom: 4px solid black;
  background-color: transparent;
}

button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #f4f1ec;
  border: #4056A1;
  margin-top: .5em;
}

.counter {
  margin-top: .5em;
  font-family: 'Bungee', cursive;
  font-weight: 600;
}

.buttonCounter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweet-container {
  /* Box Model */
  border: 1px solid black;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

/* Flex Properties */
  display: flex;
  flex-direction: column;
}

.tweet-container:hover {
  box-shadow: 5px 5px lightblue;
}

.name-and-tag {
  /* Box Model */
  padding: .75em;
  font-size: .75em;
  /* Flex Properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-face-smile {
  padding-right: .5em;
}

.tag {
  color: lightgrey;
}

#tweet-container h6 {
  /* align-content: center; */
  padding: 1em;
}
/* get rid of margine on h6 */

.completed-tweet-text {
  margin: .5em;
  border-bottom: 4px solid black;
  font-size: .75em;
}

.completed-tweet-text p{
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.timespan {
  /* Box Model */
  padding: 0 2em 1.5em 2em;
  font-size: .5em;

  /* Flex Properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer i:hover {
  color: goldenrod;
}